@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.ChangePasswordContainer {
    background: #D1DEFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}


.leftSide {
    position: absolute;
    z-index: 1;
    bottom: 0; /* Position at the bottom */
    left: 0px;
    margin-left: -20px;
    margin-bottom: -30px;
  }

  .QCat{
    width: 400px;
    height: auto;
  }

  .rightSide{
    position: absolute;
    top: 0; 
    margin-left: 1190px;
    margin-top: -70px;
  }

  .Qdog{
    width: 500px;
    height: auto;
  
  }

  
  .PawContainer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
   }
   
   .paw1 {
       position: absolute;
       width: 120px; /* Adjust the size of the paw images */
       height: 120px;
       margin-top: -690px;
       margin-left: 5px;
       transform: rotate(270deg);
   }

   
   .paw2 {
    position: absolute;
    width: 120px; /* Adjust the size of the paw images */
    height: 120px;
    margin-top: -100px;
    margin-left: 1350px;
    transform: rotate(10deg);    
   }

  
.centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    height: 100vh; /* Full viewport height */
}

.formContainer {
    background: #a0b8f5;
    margin-top: 50px;
    margin-left: 90px;
    padding: 70px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(6, 20, 73, 0.1);
    width: 100%;
    max-width: 700px;
    max-height: 450px;
}

.formContainer h1 {
    text-align: center;
    margin-top: -40px;
    margin-bottom: 20px;
    font-size: 7ex;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;   
}


.formContainer input {
    width: 70%;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    margin-left: 75px;
    border: 1px solid #ccc;
    border-radius: 90px;
    background-color: rgb(241, 239, 239);
}

.formContainer input:focus {
    border: 2px solid #88a0dd;
  box-shadow: 0 0 2px 2px #527deb;
}


.formContainer button {
    width: 65%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 90px;
    border: none;
    border-radius: 90px;
    background-color: #678EF0;
    color: rgb(246, 244, 244);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: large;
}


.formContainer button:hover {
    background-color: #527deb;
}

/* ChangePassword.module.css */

/* Base scaling for ultra-large screens */
@media only screen and (min-width: 1601px) {


  
  .leftSide {
    position: absolute;
    z-index: 1;
    bottom: 0; /* Position at the bottom */
    left: 0px;
    margin-left: -20px;
    margin-bottom: -30px;
  }

  .QCat{
    width: 400px;
    height: auto;
  }

  .rightSide{
    position: absolute;
    top: 0; 
    margin-left: 1560px;
    margin-top: -65px;
  }

  .Qdog{
    width: 700px;
    height: auto;
  }

  .paw1 {
    position: absolute;
    width: 120px; /* Adjust the size of the paw images */
    height: 120px;
    margin-top: -890px;
    margin-left: 0px;
    transform: rotate(10deg);
}


.paw2 {
  position: absolute;
  width: 120px; /* Adjust the size of the paw images */
  height: 120px;
  margin-top: -100px;
  margin-left: 1750px;
  transform: rotate(10deg);    

    
}

  
}