@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
.Favorite{
    background: linear-gradient(to right, #FFE4FD,#E9A5E4 );
    width: 100%; /* Full width of the viewport */
    height: 100%; /* Full height of the viewport */
    position: fixed; /* Fixed position to fill the entire screen */
    top: 0;
    left: 0;
    z-index: 1; /* Ensure the text is above other elements */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

.containers {
    position: absolute;
    bottom: 0;
    left: 0;    
    width: 100%;
    display: flex;
    justify-content: space-around; /* Distribute space around children */
    align-items: center;
}
.quiz{
    position: absolute;
    width: 50px; /* Keep a larger base size */
    height: 50px;
    transform: scale(0.27);
    bottom: 10px;
    margin-bottom: 559px;  
    margin-left:  970px;
    z-index:10 ; 
}
.heart{
    position: absolute;
    width: 50px; /* Keep a larger base size */
    height: 50px;
    transform: scale(0.29);
    bottom: 10px;
    margin-bottom: 569px;  
    margin-left:  -1050px;
    z-index:10 ; 
    
}
.profile{
    position: absolute;
    width: 50px; /* Keep a larger base size */
    height: 50px;
    transform: scale(0.3);
    bottom: 10px;
    margin-bottom: 560px;  
    margin-left:  -1340px;
    z-index:10 ; 
    
}
.house{
    position: absolute;
    width: 50px; /* Keep a larger base size */
    height: 50px;
    transform: scale(0.3);
    bottom: 10px;
    margin-bottom: 570px;  
    margin-left:  -1570px;
    z-index:10 ; 
    
}

.pawHeart{
    position: absolute;
    width: 50px; /* Keep a larger base size */
    height: 50px;
    transform: scale(0.8);
    bottom: 10px;
    margin-bottom: 650px;  
    margin-left:480px;
    z-index:1 ; 
}
.pawHeart2{
    position: absolute;
    width: 50px; /* Keep a larger base size */
    height: 50px;
    transform: scale(0.8);
    bottom: 10px;
    margin-bottom: 650px;  
    margin-left:-700px;
    z-index:1 ; 
}

.container{
    background-color: #E48EEA; 
    border-radius: 20px; /* Rounded corners */
    padding: 20px; /* Spacing inside the container */
    max-width: 900px;
    margin-top: -600px;
    margin-bottom: -20px; 
    font-size: 5ex;
    height: 120px; /* Limit the width of the container */
    text-align: center; /* Center-align text */
    position: absolute; /* Relative positioning */
    z-index: 1;
}
.container h1{
    
    color: white;
    font-family: 'Kavivanar', cursive;
    margin-top: -10px;
    text-align: center;
    text-shadow: 2px 2px #adafb1;
    z-index: 1;
} 

.FavoriteContainer{
    background: linear-gradient(to right, #EBC7FF,#FBA0F4 );
    border-radius: 15px; /* Rounded corners */
    padding: 20px; /* Spacing inside the container */
    max-width: 1600px;
    width: 1700px;
    max-height: 10px;
    margin: 50px;
    margin-top: -350px;
    height: 100px; /* Limit the width of the container */
    /* Center-align text */
    position: absolute; /* Relative positioning */
    z-index: 1;
}
.navList{
    position: relative;
    list-style: none;
    display: flex;
    font-weight: bold;
    gap: 20px;
    margin: -10px;
    padding: 10px 20px;
    display: block;
    display: flex;
    margin-left: 50px;
    margin-top: -20px;
    
}
.navLink {
    font-family: 'Poppins', sans-serif; /* Use the imported font */
    color: white; /* Text color for the links */
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Font size for the links */
    padding: 5px 10px; /* Padding inside the links */
    border-radius: 5px; /* Rounded corners */
    text-shadow: 2px 2px #6d747d;
}
.navLink1{

}
.navLink2{
 
    margin-left: 20px;
}
.navLink3{
    margin-left: 30px;
}
.navLink4{
    margin-bottom: 12px;
    bottom: 12px;
   
    margin-left: 900px;

}
.listing {
    background-color: #e48eea97; 
    border-radius: 15px; /* Rounded corners */
    padding: 20px; /* Spacing inside the container */
    max-width: 900px;
    margin-bottom: -400px;
    margin-right: 1200px;
    margin-top: -600px;
    font-size: 4ex;
    color: white;
    font-family: 'Irish Grover', cursive;
    height: 80px; /* Limit the width of the container */
    text-align: center; /* Center-align text */
    position: absolute; /* Relative positioning */
    z-index: 1;
}
.listing p{
    font-family: 'Irish Grover', cursive;
}
.container h1{
    
    color: white;
    font-family: 'Kavivanar', cursive;
    margin-top: -10px;
    font-size: 4ex;
    text-align: center;
    text-shadow: 2px 2px #adafb1;
    z-index: 1;
} 

.noFavorites p{
    color: white;
    font-family: 'Irish Grover', cursive;
    font-size: 4ex;
}

/* larger display*/
@media screen and (min-width: 1200px) {
    .Recommended {
      
    
    }
  
    .containers {

   
    }
  
    .quiz, .heart, .profile, .house {
      margin-bottom: 700px;
   
    
    }
    .quiz{
      position: absolute;
      width: 50px; /* Keep a larger base size */
      height: 50px;
      transform: scale(0.27);
      bottom: 10px;
      margin-bottom: 650px;  
      margin-left:  1350px;
      z-index:10 ; 
  }
  .heart{
      position: absolute;
      width: 50px; /* Keep a larger base size */
      height: 50px;
      transform: scale(0.25);
      bottom: 10px;
      margin-bottom: 652px;  
      margin-left:  -1310px;
      z-index:10 ; 
      
  }
  .profile{
      position: absolute;
      width: 50px; /* Keep a larger base size */
      height: 50px;
      transform: scale(0.25);
      bottom: 10px;
      margin-bottom: 645px;  
      margin-left:  -1620px;
      z-index:10 ; 
      
  }
  .house{
      position: absolute;
      width: 50px; /* Keep a larger base size */
      height: 50px;
      transform: scale(0.3);
      bottom: 10px;
      margin-bottom: 655px;  
      margin-left:  -1930px;
      z-index:10 ; 
      
  }
  
  .pawHeart{
      position: absolute;
      width: 50px; /* Keep a larger base size */
      height: 50px;
      transform: scale(0.9);
      bottom: 10px;
      margin-bottom: 750px;  
      margin-left:500px;
      z-index:1 ; 
  }
  .pawHeart2{
      margin-bottom: 760px; 
      transform: scale(0.95);
     

  }
  
  
    .container {
      margin-bottom: 10px;

    }
  
    .FavoriteContainer {
      max-width:5000px;
      width: 2000px;
      max-height: 10px;
     
    }
    .navList{
      position: relative;
      list-style: none;
      display: flex;
      font-weight: bold;
      gap: 20px;
      margin: -10px;
      padding: 10px 20px;
      display: block;
      display: flex;
      margin-left: 90px;
      margin-top: -20px;
      
  }
  .navLink1{
margin-right: 20px;
  }
  .navLink2{
    margin-right: 10px;
      margin-left: 20px;
      position: relative;
      z-index: 2;
  }
  .navLink3{
    margin-right: 340px;
      margin-left: 30px;
  }
  .navLink4{
      margin-bottom: 12px;
      bottom: 1px;
      margin-left: 900px;
  
  }
    .listing {
    margin-right: 1500px;
    }
  
    .filters {
     
    }
  
    .petcontainer, .petcontainers {
      margin-bottom: 10px;
    
    }
  }