@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Pompiere&family=Purple+Purse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

.petBio{
  
  
 
}
.container{
    position: relative;
  background-color: #94ceef;
    width: 100%;
    height: 90%;
    margin-right: 1000px;
    z-index: 1;

}

.paw{
    
    position: absolute;
    width: 100%;
    display: flex;
    left: -460px;
    top:-60px;
    transform: scale(0.5);
    padding: 20px;
    
}

.paw2{
    position: absolute;
    width: 100%;
    display: flex;
    right: -1200px;
    top:218px;
    transform: rotate(30deg);
    transform: scale(1);

}



.pcontainer{
    background-color: #b0c3f3;
    width: 30%;
    height: 70%;
    bottom: 200px;
    right: 530px;
    border-radius: 10px;
    box-shadow: 10px 5px #929292a3;
    position: absolute;

   
}
.pcontainer h3{
    font-family: 'poppins', sans-serif;
    color: #4679fa;
    font-size: 4ex;
    margin-left: 120px;
    text-shadow: 2px 4px #9cabd0;

  

}
.pcontainer p{
    font-family: 'Pompiere', sans-serif;
    color: #6181d2;
    font-size:3.5ex;
    margin-left: 180px;
    text-shadow: 0px 2px #9eade9;  

}
.petImage{
    width: 40%;
    height: 300px;
    border-radius: 12px;
    margin-bottom: 20px;
    margin-left: 140px;


}

.bcontainer{
    background-color: #eef2f9;
    width: 300%;
    height: 50%;
    right: -10px;
    bottom: -30px;
    border-radius: 40px;
    position: absolute;
    box-shadow: 10px 5px #929292a3;
    z-index: 10;
}

.acontainer{

    background: linear-gradient(to right, #4678f8,#628aee );
    width:3%;
    height: 30%;
    bottom: 230px;
    right:1350px ;
    border-radius: 10px;
    box-shadow: 10px 5px #00000041;
    position: absolute;
    z-index: 10;

}
.acontainer h3{
    font-family:'Prata', serif ;
    font-weight: 100;
      font-size: 2.5ex;
      margin-left: 48px;
  }
.acontainer p{
    font-family:'Purple Purse', cursive ;
    font-weight: 400;
    font-size: 2.5ex;
    margin-left: 40px;
    margin-top: 20px;
    
    
}
.sexcontainer{
    background: linear-gradient(to right, #628aee,#87a6f5 );
    width:3%;
    height: 30%;
    bottom: 230px;
    right:1150px ;
    border-radius: 10px;
    box-shadow: 10px 5px #00000041;
    position: absolute;
    z-index: 10;

}

.sexcontainer h3{
    font-family:'Prata', serif ;
    font-weight: 100;
      font-size: 2.5ex;
      margin-left: 48px;
      padding: 1%;
  }

  .sexcontainer p{
    font-family:'Purple Purse', cursive ;
      font-weight: 400;
      font-size: 2.5ex;
      margin-left: 35px;
      margin-top: 15px;
    
      
  }

.scontainer{
    background: linear-gradient(to right, #8ca6e9,#c4d2f6 );
    width:3%;
    height: 30%;
    bottom: 230px;
    right:950px ;
    border-radius: 10px;
    box-shadow: 10px 5px #00000029;
    position: absolute;
    z-index: 10;


}

.scontainer h3{
    font-family:'Prata', serif ;
      font-weight: 100;
      font-size: 2.5ex;
      margin-left: 48px;
  }
  .scontainer p{
    font-family:'Purple Purse', cursive ;
      font-weight: 400;
      font-size: 2.5ex;
      margin-left: 30px;
      margin-top: 20px;
    
      
  }

.percontainer{
    background: linear-gradient(to right, #c4d2f6,#e8ecf5 );
    width:3%;
    height: 30%;
    bottom: 230px;
    right:750px ;
    border-radius: 10px;
    box-shadow: 10px 5px #00000041;
    position: absolute;
    z-index: 10;
}

.percontainer h3{
    font-family:'Prata', serif ;
    font-weight: 100;
      font-size: 2.3ex;
      margin-top: 1px;
      margin-left: 20px;
  }
  .percontainer p{
    font-family:'Purple Purse', cursive ;
    font-weight: 400;
    font-size: 2.5ex;
    margin-left: 25px;
    margin-top: 20px;
  }

.infocontainer{
    background-color: #e8ecf5;
    width:20%;
    height: 45%;
    bottom: 30px;
    right:600px ;
    border-radius: 10px;
    box-shadow: 10px 5px #00000041;
    position: absolute;
    z-index: 10;

}
.infocontainer h3{
    color: #4679fa;
    text-shadow: 0px 2px #c5cbda;
    font-family:'Prata', serif ;
    font-weight: 100;
      font-size: 3ex;
      margin-top: -30px;
      margin-left: 16px;
  }

.infocontainer p{
    font-family:'Preahvihear', sans-serif ;
      font-weight: 600;
      font-size: 2ex;
      margin-left: 40px;
      margin-top: 9px;
      text-shadow: 0px 0px #00000041;
      
  }
  .moreinfolink{
    position: absolute;
    font-family:'Preahvihear', sans-serif ;
    font-weight: 600;
    font-size: 2ex;
    bottom: 10px;
    margin-left: 800px;
    text-shadow: 0px 0px #00000041;
  }
  .adoptButton{
    background-color: #628df9;
    position: relative;
    font-size: 3ex;
    border-radius: 80px;
    width: 20%;
    font-family: 'Preahvihear', sans-serif;
    font-weight: 600;
   right: -1250px;
   bottom: 30px;
   color: white;
   box-shadow: 6px 5px #929292a3;

  }

  .favoriteButton{
    background-color: #628df9;
    position: relative;
    right: -1100px;
    bottom:219px;
    border-radius: 50px;
    font-size: 0.5ex;
    box-shadow: 6px 3px #929292a3;
   
    
  }
  .favoritebutton:hover{
    color: #628df9;
}
  



.bbutton{
    position: absolute;
    top: 10px;
    font-size: 0.1ex;
    border-radius: 100px;
    margin-left: -290px;
    z-index: 10;
    cursor: pointer;
    color: #628df9;
      
}

.bbutton button{
  background: #3468ed;
}
.bbutton button:hover{
   
    background-color:#2da9e7 ;
}

.bbutton svg{
    
    display: block;
    color: white;
    
}
