@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:wght@400;700&display=swap');


.petCard{
    position: relative;
    border: 1px solid #2262c2;
    padding:16px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background-color: #fff;
    width: 300px;
    height: 450px;
    margin: 0 10px;
    flex: 0 0 300px;
    scroll-snap-align: start;
    min-width: 300px;
 
}
.ranked{
    border-color: #f59e0b;
    margin-bottom: 10px;
}

.rankBadge{
    position: absolute;
    background-color: #f59e0b;
    top: 280px;
    margin-left: 110px;
    margin-top: 50px;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 99999px;

}

.favoriteBtn{
  position: absolute;
  right: 1060px;
  top: 290px;
  width: -20px;
  height:-20px;
  background: none;
  cursor: pointer;
  color: #92D7F7;
    
}
.favoriteActive{
    color: #83A7F5;
    filter: drop-shadow(0 0 4px rgba(74, 108, 187, 0.5));
    transition: all 0.3 ease;
}
.favoriteBtn:hover{
    background-color: #4d78e6;
}

.petImage{
    width: 40%;
    height: 200px;
    border-radius: 12px;
    margin-bottom: 20px;
    margin-left: 140px;
}
.petName{
    font-family:'Poltawski Nowy', serif;
    font-weight: 600;
    margin-left: 100px;
    color: #076691;
}
.petBreed{
    margin-left: 100px;
    color: #95ade9;
    font-family:'Poltawski Nowy', serif;

}
.buttonGroup{
    margin-top: 10px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}

.infoBtn, .adoptBtn{
    padding: 10px 20px;
    background-color: #83A7F5;
    color:white;
    border-radius: 20px;
    stroke: #5582F3;
    font-size: 1rem;
    margin-right: 10px;
    cursor: pointer;
    border: none;

}
.adoptBtn{
    margin-right: 100px;
}


.infoBtn:hover, .adoptBtn:hover{
    background-color: #4d78e6;
}

@media screen and (min-width: 1200px) {
    .ranked{
        border-color: #f59e0b;
        margin-top: -100px;
    }
    
}