@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:wght@400;700&display=swap');


.petCard{
  
 
}


.favoriteBtn{
  position: absolute;
  right: 1060px;
  top: 290px;
  width: -20px;
  height:-20px;
  background: none;
  cursor: pointer;
  color: #92D7F7;
    
}
.favoriteActive{
    color: #83A7F5;
    filter: drop-shadow(0 0 4px rgba(74, 108, 187, 0.5));
    transition: all 0.3 ease;
}
.favoriteBtn:hover{
    background-color: #4d78e6;
}

.petImage{
    position: absolute;
    width: 50%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 115px;

}
.petName{
    font-family:'Poltawski Nowy', serif;
    font-weight: 600;
    margin-left: 100px;
    color: #076691;
}
.petBreed{
    margin-left: 100px;
    color: #F8F2F2;
    font-family:'Poltawski Nowy', serif;

}
.buttonGroup{
    margin-top: 16px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}

.infoBtn, .adoptBtn{
    padding: 10px 16px;
    background-color: #83A7F5;
    color:white;
    border-radius: 20px;
    stroke: #5582F3;
    font-size: 1rem;
    cursor: pointer;
    border: none;

}
.adoptBtn{
    margin-right: 100px;
}


.infoBtn:hover, .adoptBtn:hover{
    background-color: #4d78e6;
}