@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');
.Questions {
    
    background-color: #B1D4EA; /* Blue background */
    width: 100%; /* Full width of the viewport */
    height: 100%; /* Full height of the viewport */
    position: fixed; /* Fixed position to fill the entire screen */
    top: 0;
    left: 0;
    z-index: 1; /* Ensure the text is above other elements */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    overflow-y: auto;
}

.Questions h1{
        position: absolute;
        color: #0AA4EB;
        font-family: 'Poppins', sans-serif;
        top: 5%; 
        left: 50%;
        transform: translateX(-50%); 
        font-size: 8ex;
        text-align: center;
        text-shadow: 2px 2px #4484de;
        margin: 0; 
    } 

    .progressContainer {
        display: flex;
        flex-direction: column; /* Stack vertically */
        align-items: center; /* Center */
        justify-content: center;
        width: 100%;
        position: absolute;
        bottom: 30px;
    }
    
    /* Progress text */
    .pagebar {
        font-size: 1.5rem;
        font-family: 'Pontano Sans', sans-serif;
        text-shadow: 2px 2px #2c3036;
        color: #f7f8f8;
        text-align: center;
        margin-bottom: 5px; 
    }
    
    
    .progressBarContainer {
        width: 50%; 
        height: 10px;
        background-color: #e0e0e0;
        border-radius: 5px;
        overflow: hidden;
    }
    
    /* The actual progress fill */
    .progressBar {
        height: 100%;
        background-color: #0AA4EB;
        border-radius: 5px;
        transition: width 0.5s ease;
    }
    
    @keyframes progressAnimation {
        0% { width: 0%; }
        100% { width: 100%; }
    }
    

   .formContainer{
    display: flex;
    flex-direction: column;
    align-items: center; /* Center elements horizontally */
    justify-content: center;
    width: 100%;
    max-width: 700px; /* Consistent max width */
    margin: 0 auto; /* Ensure centering */
    padding-top: 10px;
   } 

  .question{
    position: relative;
    margin: 20px ;
    margin-left: -10px;
    align-items: flex-start;
    margin-bottom:10px;
    bottom: -15px;
    font-family: 'Poppins', sans-serif;
    color: black;
    max-width: 1050px;
    overflow: auto;
    max-height: 250px;


  }  


.question p {
    color: rgb(20, 18, 18);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    font-size: 2.5ex;
    word-wrap: break-word;
    overflow-wrap: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    max-width: 100%;
 
}

.question label{
    
    display: block;
    font-size: 18px;
    cursor: pointer;
    margin: 5px;
}

.question input[type="radio"],
.question input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 10px;
    cursor: pointer;
}
.question textarea{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    resize: vertical; /* Allow vertical resizing */
    min-height: 100px; /* Set minimum height */
}


.button{
    position: absolute;
}

.clearButton{
    position: fixed;
    top: 10px;
    right: 30px;
    padding: 20px 35px;
    font-size: 22px;
    font-family: 'Poppins One', cursive;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    background-color: #0AA4EB;
    color: #f7f8fa;
    box-shadow: 5px 5px 2px 2px #4e5a6b;
}

.exitbutton {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 20px 35px;
    font-size: 22px;
    font-family: 'Poppins One', cursive;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    background-color: #0AA4EB;
    color: #f7f8fa;
    box-shadow: 5px 5px 2px 2px #4e5a6b;
}

.exitbutton:hover{
 background-color: #0a7beb;
}

.nextButton {
   position: absolute;
    bottom: 10px;
    right: 215px;
    padding: 20px 40px;
    font-size: 22px;
    font-family: 'Poppins One', cursive;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    background-color: #0AA4EB;
    color: #f7f8fa;
    box-shadow: 5px 5px 2px 2px #4e5a6b;
}

.nextButton:hover{
 background-color: #0a7beb;
}

.previousButton {
    position: fixed;
     bottom: 10px;
     left: 155px;
     padding: 20px 30px;
     font-size: 22px;
     font-family: 'Poppins One', cursive;
     border: none;
     border-radius: 45px;
     cursor: pointer;
     background-color: #0AA4EB;
     color: #f7f8fa;
     box-shadow: 5px 5px 2px 2px #4e5a6b;
 }
 
 .previousButton:hover{
  background-color: #0a7beb;
 }

 .submitButton {
    position: absolute;
     bottom: 10px;
     right: 215px;
     padding: 20px 40px;
     font-size: 22px;
     font-family: 'Poppins One', cursive;
     border: none;
     border-radius: 45px;
     cursor: pointer;
     background-color: #0AA4EB;
     color: #f7f8fa;
     box-shadow: 5px 5px 2px 2px #4e5a6b;
 }
 
 .submitButton:hover{
  background-color: #0a7beb;
 }

.container {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    transition: transform 0.6s ease-in-out, background-color 0.6s ease-in-out;
}

.dog{
    position: absolute;
    width: 55px; /* Keep a larger base size */
    height: 50px;
    top: 4%;
    left: 32%;
    transform: scale(1.9);
   
    z-index:100 ; 

} 

.cat{
    position: absolute;
    width: 54px; /* Adjust size as needed */
    height: 45px;
    top: 7%;
    left: 60%;
    z-index: 1; 
    transform: scale(2);
  
   
} 



.paws.whitepaw1 {
    position: absolute;
    bottom: 5%;
    left: 1%;
    width: 60px;
    height: 50px;
    transform: rotate(10deg);
    transform: scale(1.4);
    opacity: 0.5;
   
}

.whitepaw2 {
    position: absolute;
    bottom: 1%;
    left: 7%;
    width: 60px;
    height: 50px;
    transform: rotate(-20deg);
    transform: scale(1.4);
    opacity: 0.5;
    
}

.whitepaw3 {
    position: absolute;
    top: 22%;
    right: 10%;
    margin-left: 18px;
    width: 60px;
    height: 50px;
    transform: rotate(-20deg);
    transform: scale(1.6);
    opacity: 0.5;
}

.whitepaw4 {
    position: absolute;
    top: 6%;
    right: 6.5%;
    width: 60px;
    height: 50px;
    transform: rotate(-20deg);
    transform: scale(1.6);
    opacity: 0.5;
}

.whitepaw5 {
    position: absolute;
    top: 15%;
    right: 2%;
    margin-top: 19px;
    width: 60px;
    height: 50px;
    transform: rotate(-20deg);
    transform: scale(1.6);
    opacity: 0.5;
}


  

.bubbleContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}

.bubble{
    position: absolute;
    background: rgba(255, 255, 255, 0.2) ;
    border-radius: 50%;
}

.bubble:nth-child(1)  { top: 0%; left: 40%; width: 90px; height: 90px; }
.bubble:nth-child(2)  { top: 5%; left: 40%; width: 70px; height: 70px; }
.bubble:nth-child(3)  { top: 5%; left: 42%; width: 90px; height: 90px; }
.bubble:nth-child(4)  { top: 2%; left: 38%; width: 70px; height: 70px; }
.bubble:nth-child(5)  { top: -1%; left: 42%; width:70px; height: 70px; }
.bubble:nth-child(6)  { top: -1%; left: 45%; width: 70px; height: 70px;}
.bubble:nth-child(7)  { top: -1%; left: 48%; width: 90px; height: 90px; }
.bubble:nth-child(8)  { top: -1%; left: 50%; width: 90px; height: 90px; }
.bubble:nth-child(9)  { top: -1%; left: 53%; width:  90px; height: 90px; }
.bubble:nth-child(10)  { top: -1%; left: 56%; width: 70px; height: 70px; }
.bubble:nth-child(11)  { top: 2%; left: 58%; width: 70px; height: 70px; }
.bubble:nth-child(12)  { top: 5%; left: 49%; width:90px; height: 90px; }
.bubble:nth-child(13)  { top: 5%; left: 45%; width: 70px; height: 70px;}
.bubble:nth-child(14)  { top: 5%; left: 55%; width: 90px; height: 90px; }
.bubble:nth-child(15)  { top: 5%; left: 53%; width: 70px; height: 70px; }
.bubble:nth-child(16)  { top: 0%; left:35%; width: 90px; height: 90px; }
.bubble:nth-child(17)  { top: 4%; left: 35%; width:90px; height: 90px; }
.bubble:nth-child(18)  { top: 8%; left: 39%; width: 90px; height: 90px;}
.bubble:nth-child(19)  { top: 8%; left: 45%; width: 80px; height: 80px; }
.bubble:nth-child(20)  { top: 8%; left: 53%; width: 90px; height: 90px; }


.bubble:nth-child(20)  { top: 8%; left: 59%; width: 80px; height: 80px; }
.bubble:nth-child(21)  { top: 0%; left: 60%; width: 90px; height: 90px; }
.bubble:nth-child(22)  { top: 2%; left: 65%; width: 80px; height: 80px; }
.bubble:nth-child(23)  { top: 5%; left: 63%; width: 90px; height: 90px; }
.bubble:nth-child(24)  { top: 8%; left: 57%; width: 80px; height: 80px; }
.bubble:nth-child(25)  { top: 8%; left: 50%; width: 90px; height: 90px; }
.bubble:nth-child(26)  { top: 9%; left: 47%; width: 80px; height: 80px; }
.bubble:nth-child(27)  { top: 11%; left: 43%; width: 60px; height: 60px; }

.bubble:nth-child(28)  { top: 11%; left: 55%; width: 60px; height: 60px; }
.bubble:nth-child(29)  { top: 9%; left: 36%; width: 80px; height: 80px; }
.bubble:nth-child(30)  { top: 4%; left: 30%; width: 90px; height: 90px; }
.bubble:nth-child(31)  { top: 9%; left: 33%; width: 80px; height: 80px; }
.bubble:nth-child(32)  { top: 8%; left: 64%; width: 80px; height: 80px; }
.bubble:nth-child(33)  { top: 8%; left: 62%; width: 80px; height: 80px; }