/* StartQuiz.module.css */

@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');


.StartQuiz {
    background-color: #0AA4EB; /* Blue background */
    width: 100%; /* Full width of the viewport */
    height: 100%; /* Full height of the viewport */
    position: fixed; /* Fixed position to fill the entire screen */
    top: 0;
    left: 0;
    z-index: 1; /* Ensure the text is above other elements */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

.StartQuiz h1{
    
        color: white;
        font-family: 'Rammetto One', sans-serif;
        margin-left: 2%;
        margin-top: -300px;
        font-size: 7ex;
        text-align: center;
        text-shadow: 2px 2px #4484de;
    } 
      
       
    

.StartQuiz h2{

        color: white;
        font-family: 'Rammetto One', sans-serif;
        margin-left: 50px;
        margin-bottom: 80px;
        font-size: 6ex;  
        text-shadow: 2px 2px #4484de; 
   
    }

.StartQuiz p {
    color: white;
        font-family: 'Rammetto One', sans-serif;
        margin-left: 50px;
        font-size: 2ex;
        text-shadow: 2px 2px #4484de;
}

.StartQuiz button {
    padding: 35px 80px;
    margin: 95px;
    margin-bottom: -200px;
    font-size: 20px;
    font-family: 'Poller One', cursive;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    background-color: #e4eaed;
    color: #627BDE;
    box-shadow: 5px 5px 2px 2px #478bea;
}

.StartQuiz button:hover{
 background-color: #b4dbff;
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;    
    width: 100%;
    display: flex;
    justify-content: space-around; /* Distribute space around children */
    align-items: center;
}

.dog{
    position: absolute;
    width: 50px; /* Keep a larger base size */
    height: 50px;
    transform: scale(0.8);
    margin-bottom: 700px;  
    margin-left:990px;
    z-index:1 ; 

} 
.cat{
    position: absolute;
    width: 20px; /* Adjust size as needed */
    height: 20px;
    margin-bottom: 870px;  
    margin-right: 940px;
    z-index: 1; 
    transform: scale(0.4);
    transform: scaleX(-1);
   
} 
.pflower{
    position: absolute;
    transform: scale(0.4);
    width: 20px; /* Adjust size as needed */
    height: 20px;
    margin-bottom: 500px;  
    margin-right: 700px;
    z-index: 0; 

} 
.yflower{
    position: absolute;
    transform: scale(0.4);
    width: 20px; /* Adjust size as needed */
    height: 20px;
    margin-bottom: 530px;  
    margin-right: -400px;
    z-index: 0; 
}
.upper {
    position: absolute;
    transform: scale(0.5);
    width: 20px; /* Adjust size as needed */
    height: 20px;
    margin-bottom: 1580px;  
    margin-right: 1700px;
    z-index: 1; 
     /* Adjust size as needed */
}

.upper2{
    position: absolute;
    transform: scale(0.5);
    width: 10px; /* Adjust size as needed */
    height: 10px;
    margin-bottom: 1760px;  
    margin-right: -1200px;
    rotate: 35deg;
    
    z-index: 1; 
}

.grass {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Adjust height as needed */
    background-color: #66A148; /* Green color */
    clip-path: ellipse(75% 100% at bottom center); /* Creates a half circle */
}

.bubbleContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}

.bubble{
    position: absolute;
    background: rgba(255, 255, 255, 0.2) ;
    border-radius: 50%;
}

.bubble:nth-child(1)  { top: 30%; left: 5%; width: 40px; height: 40px; }
.bubble:nth-child(2)  { top: 10%; left: 15%; width: 40px; height: 40px; }
.bubble:nth-child(3)  { top: 60%; left: 20%; width: 46px; height: 46px; }
.bubble:nth-child(4)  { top: 40%; left: 35%; width: 45px; height: 45px; }
.bubble:nth-child(5)  { top: 10%; left: 45%; width: 60px; height: 60px; }
.bubble:nth-child(6)  { top: 60%; left: 55%; width: 40px; height: 40px; }
.bubble:nth-child(7)  { top: 70%; left: 65%; width: 50px; height: 50px; }
.bubble:nth-child(8)  { top: 80%; left: 75%; width: 40px; height: 40px; }
.bubble:nth-child(9)  { top: 15%; left: 85%; width: 60px; height: 60px; }
.bubble:nth-child(10)  { top: 45%; left: 82%; width: 60px; height: 60px; }
.bubble:nth-child(11)  { top: 30%; left: 20%; width: 60px; height: 60px; }
.bubble:nth-child(12)  { top: 30%; left: 62%; width: 40px; height: 40px; }
.bubble:nth-child(13)  { top: 35%; left: 72%; width: 30px; height: 30px; }
.bubble:nth-child(14)  { top: 35%; left: 92%; width: 50px; height: 50px; }




  /* For larger screens - PUSH CONTENT UPWARD */
  @media (min-width: 1201px) {
    .StartQuiz h1 {
      font-size: 8ex;
     
    }
  }
  
  @media (min-width: 1601px) {
    .StartQuiz h1 {
      font-size: 7ex;
      
    }
    .upper {
        top: 50px;
      }
      .upper2 {
        top: 50px;
      }
  }
  
  @media (min-width: 2001px) {
    .StartQuiz h1 {
      font-size: 7ex;
     
    }
    .upper {
        margin-bottom: calc(180px * 1);
      
      }
      .upper2 {
        margin-bottom: calc(160px * 1);
       
      }
  }