@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    background: #D1DEFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}


.leftSide {
    position: absolute;
    z-index: 1;
    bottom: 0; /* Position at the bottom */
    left: 0px;
    margin-left: -20px;
    margin-bottom: -30px;
  }

  .QCat{
    width: 400px;
    height: auto;
  }

  .rightSide{
    position: absolute;
    top: 0; 
    margin-left: 750px;
    margin-top: -65px;
  }

  .Qdog{
    width: 700px;
    height: auto;
  }
  
  .PawContainer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
   }
   
   .paw1 {
       position: absolute;
       width: 120px; /* Adjust the size of the paw images */
       height: 120px;
       margin-top: -100px;
       margin-left: 1000px;
       transform: rotate(10deg);
   }

   
   .paw2 {
    position: absolute;
       width: 120px; /* Adjust the size of the paw images */
       height: 120px;
      margin-top: -660px;
      margin-left: -350px;
      transform: rotate(290deg);

       
   }

  
.centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    height: 100vh; /* Full viewport height */
}

.formContainer {
    background: #a0b8f5;
    margin-top: 50px;
    margin-left: 90px;
    padding: 70px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(6, 20, 73, 0.1);
    width: 100%;
    max-width: 700px;
    max-height: 450px;
}

.formContainer h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 6.5ex;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    
}

.formContainer p{
    text-align: center;
    margin-bottom: 20px;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
    
}
.formContainer input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 90px;
    background-color: rgb(241, 239, 239);
}


.formContainer button {
    width: 70%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 60px;
    border: none;
    border-radius: 90px;
    background-color: #678EF0;
    color: rgb(246, 244, 244);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: large;
}


.formContainer button:hover {
    background-color: #527deb;
}
